/* index.css */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Fira Sans", sans-serif; /* Apply the SUSE font globally */
  font-weight: 400; /* Default to regular weight */
  font-size: 16px;  /* Default font size */
  box-sizing: border-box;
  overflow-x: hidden;
}

/* You can customize font-weight for different elements */
h1, h2, h3, h4, h5, h6 {
  font-family: "SUSE", sans-serif;
  font-weight: 700; /* Bold font weight for headings */
}

p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300; /* Lighter font weight for paragraphs */
}

/* Any other global styles go here */
